*{
	margin: 0;
	padding: 0;
	
}
body{
	text-align: justify;
	font-family: 'Josefin Sans';
	position: relative;
	min-height: 100vh;
}

header{
	background-color: black;
	
}

.contrainer{
	position: absolute;
	left: 550px;
	top: 30px;
}



 input{
 	width: 500px;
 	padding: 10px;
 	padding-right: 35px;
 	border-radius: 25px;
 	border: 0;
 	outline: none;
 	font-size: 1rem;
 }

 button{
 	background-color: #999999;
 	padding: 11.2px 15px;
 	position: relative;
 	border: 0;
 	top: -1px;
 	right: 47px;
 	margin: auto;
 	border-radius: 0 25px 25px 0;
 	color: #ffff;
 	cursor: pointer;
 }

 button:hover{
 	background-color: #777777 ;
 }

header img{
	padding-left:400px;
	height: 100px;
}


nav{
       height: 60px;
       background-color:#a7a7a7;
       text-align: center;
     }

     nav li{
	line-height: 40px;


}


nav ul{
        list-style: none;
        display: inline-block;
        padding:0px;
     }

#menu{
	margin: auto;
	text-align: center;
}

ul, ol{
	list-style: none;
}

.nav li a{
	background-color: #a7a7a7;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav > li{

	float: left;
}

.nav li a:hover{
	background-color: white;
	color: black;
	
}

.sub li a{
	background-color: black;
	color: white;
}

.nav li ul{
	
	display: none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover > ul{
	display: block;

}

.nav li ul li{

	position: relative;
}

.nav li ul li ul{
	right: -140px;
	top: 0px;
}




.in{

	height:300px;
	padding-left: 150px;
	overflow: hidden;
	
}

.in img{
	position: absolute;
	top:49px;
	left: 330px;
	height:500px;
	overflow: hidden;
	z-index: -1;
}
.text{
	position: absolute;
	top: 440px;
	left: 424px;
		
}
#otrotex{
	position: absolute;
	top: 540px;
	left: 424px;
	z-index: 8;
		
}

#otrotex img{
	position:absolute;
    top:-25px;
	left: 1px;
	height: 150px;
	z-index: 4

}
.apartado4 img{
	position:absolute;
    top:510px;
	left: 650px;
	height: 150px;
	z-index: 4

}

h2{
	font-family: "Josefin Sans";
	font-size: 40px;
}
h3{
	font-family: "Josefin Sans",Thin Italic;
	font-size: 20px;
	text-align: center;
}



section img{
	position: absolute;
	height: 320px;
	top:180px;
	left: 100px;

}

#au{
	position: absolute;
	height: 320px;
	top:180px;
	right: 450px;

}
.linea{
	position: absolute;
	top:28%;
	width: 100%;
	height: 40px;
	background-color: black;

}
.linea p{
	color: white;
	text-align: center;
	padding-top: 10px;
}


/parte de productos/
 section h3{
	font-size: 1.3em;

	
}
#cajita img{
	position: absolute;
	top: 350px;
	left: 35px;
	height: 150px;
	}
    

//productos///

.reloj{

margin-top:44rem;
width: 90%;
text-align: center; 

}


.reloj article{
	padding-top:505px;
	padding-left: 40px;
	text-align: center;
	overflow: hidden;
	float: left;
	
}
.reloj img{
	height: 180px;
	margin: 590px auto;
	left: 25px;
}

 
.ip img{
	position: absolute;
	top: 75px;
	height: 200px;
	margin: 690px auto;
	left: 330px;
}
.ip h3{
	position: absolute;
	top: 275px;
	left: 360px;
	margin: 690px auto;

}
#cajita2 img{
	position: absolute;
	top: 250px;
	left: 360px;
	height: 150px;
}



 
.k30 img{
	position: absolute;
	top: 75px;
	height: 195px;
	margin: 690px auto;
	left: 655px;
}
.k30 h3{
	position: absolute;
	top: 275px;
	left: 755px;
	margin: 690px auto

}
#cajita3 img{
	position: absolute;
	top: 250px;
	left: 700px;
	height: 150px;
}

 
.pro4 img{
	position: absolute;
	top: 75px;
	height: 195px;
	margin: 690px auto;
	left: 1010px;
}
.pro4 h3{
	position: absolute;
	top: 275px;
	left: 1050px;
	margin: 690px auto;

}
#cajita4 img{
	position: absolute;
	top: 250px;
	left: 1040px;
	height: 150px;
}

.gx img{
	height: 195px;
	margin: 1000px auto;
	left: 25px;
}
.gx h3{
	position: absolute;
	top: 1380px;
	left: 90px;

}
#cajita5 img{
	position: absolute;
	top: 360px;
	left: 35px;
	height: 150px;
}


.F9 img{
	height: 195px;
	margin: 1000px auto;
	left: 340px;
}
.F9 h3{
	position: absolute;
	top: 1380px;
	left: 375px;

}
#cajita6 img{
	position: absolute;
	top: 360px;
	left: 360px;
	height: 150px;
}

.X8 img{
	height: 195px;
	margin: 1000px auto;
	left: 675px;
}
.X8 h3{
	position: absolute;
	top: 1380px;
	left: 720px;

}
#cajita7 img{
	position: absolute;
	top: 360px;
	left: 700px;
	height: 150px;
}

.t500 img{
	height: 195px;
	margin: 1000px auto;
	left: 1010px;
}
.t500 h3{
	position: absolute;
	top: 1380px;
	left: 1050px;

}
#cajita8 img{
	position: absolute;
	top: 360px;
	left: 1040px;
	height: 150px;
}

footer img{
	margin-top: 200px;
	width: 100%

}


 	
 	
	



	
 




    
